@use '../abstracts/variable' as *;

.welcome {
    min-height: 100vh;
    background-color: $main-bg-color;
    padding: 2.5rem 0;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;


    &__secondary {
        background-color: $secondary-color;
        border-radius: 2rem;
        box-shadow: 0 1rem 1.3rem rgba(0, 0, 0, .5);
        padding: 2rem;
        max-width: 100rem;
        width: 100%;
        text-align: center;
    } 
    
}