@use '../abstracts/variable' as *;
@use '../abstracts/mixins.scss' as *;

.welcome {
    min-height: 100vh;
    background-color: $main-bg-color;
    padding: 2.5rem 7rem;

    /** When the screen is Tablet landscape **/
    @include mediaQuery(tab-land) {
        padding: 1.5rem 2rem;
    }

    @include mediaQuery(tab-port) {
        padding: 1.5rem 2rem;
    }
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__secondary {
        background-color: $secondary-color;
        border-radius: 2rem;
        box-shadow: 0 1rem 1.3rem rgba(0, 0, 0, .5);
        padding: 2rem;
        max-width: 100rem;
        width: 100%;
        text-align: center;
    } 
    
}