@use '../abstracts/variable' as *;

.commitment {
    background-color: $main-bg-color-2;
    border-radius: 2rem;
    padding: 1.5rem;

    &__heading {
        font-size: 2rem;
        line-height: 2;
        font-weight: 600;
        color: $main-text-color;
    }

    &__para {
        color: $veryDarkCyanFade;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
    }

    &__join {
        color: $veryDarkCyanFade;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
    }
}